<div class="col-md-8 col-md-offset-2">
	<div class="jumbotron">
		<h2>Trail Blazer! Free and easy!</h2>
		<br>
		<h4>From the people with a million projects comes this free application as a way to track and manage each of your projects. Get rolling in the right direction at the speed of light.</h4>
		<br>
		<%= link_to "Lets Go!", new_user_registration_path, class: "btn btn-success" %>
		
	</div>
</div>