<div>
	<h1><%= item.title %></h1>
	<p><%= item.description %></p>
</div>

<div>
	<%= link_to "Edit", edit_task_item_path(item.task, item) %>
	<%= link_to "Delete", task_item_path(item.task, item), method: :delete, data: { confirm: "Are you sure?"} %>
</div>