<div class="jumbotron">
	<h2>Task Master! Free and easy!</h2>
	<br>
	<h4>Trusted by Millions. Task Master is the best online resource for managing your day to day.</h4>
	<br>
	<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
	
</div>