/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,300);
@import "bootstrap-sprockets";
@import "bootstrap";


/* Mixins, variables, etc... */

@mixin nav_link_hover {
	transition: 0.4s;
	color: lighten(#000, 25%);
	text-decoration: none;
}

/* Universal styles */

body {
	font-family: 'Lato', sans-serif;
	background-image: url(Wooden_background.jpg);
	background-size: cover;
}

a {
	color: darken(#e7e7e7, 70%);
}

.jumbotron {
	text-align: center;
}

/* Navbar and navigation styles */

.navbar {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.navbar-default {

	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #391403; 
    box-shadow: 0px 2px 5px grey;


	.navbar-nav > li > a {
		color: #b7b7b7;
	}

	.navbar-link {
		color: #FFF;
	}

	.navbar-brand {
		color: #FFF;
		letter-spacing: 1.25px;
		font-size: 2.1em;
	}

}

h1 {
	color: white;
}

//devise styles

.form-font {
	color: #fff;
}

.check-btn {
	width: 5%;
	height: 100px;
	padding-top: 30px;
	display: inline-block;
	float: left;
	vertical-align: middle;
	line-height: normal;  
}	

.trash-btn-unfinished {
	width: 5%;
	height: 100px;
	padding-top: 30px;
	display: inline-block;
	float: right;
	vertical-align: middle;
	line-height: normal; 
	background-color: #fff3ff;
}

.trash-btn-finished {
	width: 5%;
	height: 100px;
	padding-top: 30px;
	display: inline-block;
	float: left;
	vertical-align: middle;
	line-height: normal; 

}

.content {
	width: 60%;
	margin: 0 auto;


}

.title {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    text-size: 15px;
    color: #fff;
	text-shadow: 4px 5px 5px black;
}

.project {
	background-color: #ffffff;
	margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
	margin-top: 2em;
}
/* Item styles */
.row {
	width: 100%;
	margin-left:-0.5px;	
}

.control-label{
     color: white !important; // some color
}

.item {
	border-bottom: 5px solid #000;
	padding-bottom: 1.5em;
	.item-title {
		font-family: 'Lato', sans-serif;
		margin: 0 auto;
		font-size: 2em;
	}
	.item-desc {
		font-size: 1em;
	}
	.time-ago {
		color: darken(#e7e7e7, 50%);
		font-size: 0.55em;
		letter-spacing: 1.25;
	}
	.item-sub-title {
		margin-bottom: 0;
	}
}

.item:nth-child(n+1) {
	padding-top: 1.5em;
}

#show-task-title{
	h1.title {
		width: 100%;
		text-align:center;
		font-size: 3em;
		color: #fff;
		text-shadow: 4px 5px 5px black;
	}
	p.description {
	    line-height: 28px;
	    text-align:center;
	    color: #fff;
		text-shadow: 4px 5px 5px black;
	}
}

.bottom_cta {
	text-align: center;
	padding: 7.5rem 0;
	h2 {
		color: #2B2E2E;
		font-size: 3rem;
		margin: 0;
	}
	p {
			font-size: 1.25rem;
			margin: 0 0 2.5rem 0;
			color: #a7a8a8;
		}
}

.testimonial {
	text-align: center;
	font-size: 1.5rem;
	color: #afb0b0;
	padding: 3.5rem 0;
	.quote {
		margin: 0 0 .5rem 0;
	}
	.name {
		color: #2B2E2E;
		margin: 0;
		font-size: .85rem;
	}
}



.footer {
	background: #2B2E2E;
	width: 100%;
	padding: 2rem 0;
	color: #FFF;
	text-align: center;
	p {
		margin: 0;
		font-size: .85rem;
	}
}
#button-align {
	margin: auto;
    width: 358px;
	
	.new-item-button{
		border: none;
		outline:5px solid #ac926e;
		background: #391403;
		padding: 1rem 3.5rem;
		border-radius: 0.1rem;
		color: #FFF;
		display: inline-block; 
		margin-left: 21px;
	}
	a {
		color: #fff;
	}
}

button, .button {
	border: none;
	outline: 5px solid #ac926e;
	background: #391403;
	padding: 1rem 3.5rem;
	border-radius: 0.1rem;
	color: #FFF;
	display: inline-block; 

}

.right {
	float: right;
}

.progress {
	height: 50px;
	width: 100%;
	margin: 0 auto;

	.started-inactive {
		background-color: #fff;
		position: relative;
		border-radius: 10px;
		padding: 10px;
		font-size: 14px;
		transform: translateY(-50%);
		top: 30%;
		width: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.started-active {
		background-color: #0f0;
		color: #fff;
		position: relative;
		border-radius: 10px;
		padding: 10px;
		font-size: 14px;
		transform: translateY(-50%);
		top: 30%;
		width: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.progress-inactive {
		background-color: #fff;
		position: relative;
		border-radius: 10px;
		padding: 10px;
		font-size: 14px;
		transform: translateY(-50%);
		top: 30%;
		width: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.progress-active {
		background-color: #00f;
		color: #fff;
		position: relative;
		border-radius: 10px;
		padding: 10px;
		font-size: 14px;
		transform: translateY(-50%);
		top: 30%;
		width: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.completed-inactive {
		background-color: #fff;
		position: relative;
		border-radius: 10px;
		padding: 10px;
		font-size: 14px;
		transform: translateY(-50%);
		top: 30%;
		width: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.completed-active {
		background-color: #A0522D;
		color: #fff;
		position: relative;
		border-radius: 10px;
		padding: 10px;
		font-size: 14px;
		transform: translateY(-50%);
		top: 30%;
		width: 100px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.icon-cog {
	color: lightGray;
}

